<div class="modal-wrapper">
  <clr-modal [(clrModalOpen)]="open">
    <h3 class="modal-title">Delete Quiz-Teams</h3>
    <div class="modal-body">
      <span> Are you shure that you want to delete the team {{ team.name }}? This action can't be undone </span>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline" (click)="onClose()">Cancel</button>
      <button type="button" class="btn btn-danger" (click)="onDelete()" >Delete</button>
    </div>
  </clr-modal>
</div>
