<table class="table">
  <thead>
    <tr>
      <th class="left">Position</th>
      <th class="left">Name</th>
      <th class="left">Score</th>
    </tr>
  </thead>
  <tbody *ngIf="leaderUserList !== undefined">
    <tr *ngFor="let leader of leaderUserList">
      <td class="left"> {{ leader.position }} </td>
      <td class="left"> {{ leader.data.username }} </td>
      <td class="left"> {{ leader.score }} Points </td>
    </tr>
  </tbody>
  <tbody *ngIf="leaderTeamList !== undefined">
    <tr *ngFor="let leader of leaderTeamList">
      <td class="left"> {{ leader.position }} </td>
      <td class="left"> {{ leader.data.name }} </td>
      <td class="left"> {{ leader.score }} Points </td>
    </tr>
  </tbody>
</table>