<table class="table">
  <thead>
    <tr>
      <th class="left">Quiz</th>
      <th class="left">Date</th>
      <th class="left">Status</th>
      <th class="left">Score</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let quiz of quizzes" (click)="continueQuiz(quiz)" [ngClass]="{ 'selectable': quiz.finishedAt === null, 'not-selectable': quiz.finishedAt !== null }">
      <td class="left"> {{ quiz.quizTitle }} </td>
      <td class="left"> {{ quiz.createdAt | date }} </td>
      <td class="left"> {{ quiz.finishedAt !== null ? 'Finished' : 'In Progress' }} </td>
      <td class="left"> {{ getScore(quiz) }} Points </td>
    </tr>
  </tbody>
</table>